<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CRUD De sistemas Distribuidos</title>
    
   
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>

  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CRUD de Sistemas Distribuidos</a>
      <p> Ayala Sanchez Andre Eduardo 5IV8</p>
    </nav>
    
